.header {
    text-align: center;
    margin-top: 5px;
}
.balance {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}
.incomeexpense {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
    margin-bottom: 0%;
}
.incomenumber {
    color: green;
    margin-top: 0;
    margin-bottom: 0;
}

.expensenumber {
    color: red;
}
.ie {
    box-shadow: 1px 1px 1px gray;
    width: 50%;
    text-align: center;
    background-color:beige;
}